demoCode/ch7/7.3.7节-HelloWordld SOAP WS/TestService/WebRoot/WEB-INF/wsdl/MyServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://common/" targetNamespace="http://common/" version="1.0">

  <xs:element name="SayHi" type="tns:SayHi"/>

  <xs:element name="SayHiResponse" type="tns:SayHiResponse"/>

  <xs:complexType name="SayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
